a.active {
    font-weight: bold;
    opacity: 1;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
  opacity: 1;
}

.tab-pane {
  transition: 0.5s;
}

div.tab-pane.active {
  transition: 3s;
}

div.tab-pane.transitioning {
  display: block;
  opacity: 0;
}
